/**
 * Main layout
 */

 .inner-wrap-main {
     background-color: #d3d3d3;
 }

 .region-sidebar-left,
 .region-sidebar-right {
     background-color: #808080;
     border: 1px solid #333;
     box-shadow: 0 0 1px rgba(255,255,255,4);
}

.article {
    text-align: justify;
}

.next-previous a {
    color: #000;
    text-align: right;
    text-decoration: none;
}

.next-previous a:hover {
    color: #803550;
    text-decoration: underline;
}

.byline img {
    border: 1px solid #808080;
}
