/**
 * Layout using vgrid.
 */

/**
 * Variables
 */


/**
 * General layout
 */

.row {
    #desinax-vgrid.row();
    margin-bottom: 12px;
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
}

.inner-wrap-header
.inner-wrap-footer, {
    #desinax-vgrid.grid(100%);
}

.vgrid .inner-wrap {
    @gridImage: "../img/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1100px);

    &.inner-wrap-header {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

.site-logo {
    display: none;
}

.site-logo-text a {
    color: #333;
    text-decoration: none;
    font-size: 40px;
}

.figure.right img {
    border: 1px solid #333;
    float: right;
    #desinax-vgrid.column(12);
    #desinax-vgrid.push(-1.5);
}
 /**
  * Header layout
  */

.inner-wrap-header {
    background-color: #fff;
}

.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(6)
 }

.region-header-col-2 {
    #desinax-vgrid.column(18)
}

.section-header {
    text-decoration: underline;
    font-size: 20px;
}

.rm-navbar {
    text-decoration: none;
    font-size: 23px;
}

.rm-navbar li {
    color: #000;
}

.rm-navbar li a:hover {
    color: #803550;
    text-decoration: underline;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.rm-mobile li {
    color: #fff;
    text-align: center;
}

.rm-max .rm-mobile .rm-submenu-button {
    box-shadow: 0 0 1px rgba(255,255,255,.4);
    background-color: #444;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.region-flash {
    #desinax-vgrid.column(@columns)
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns)
}

/**
 * Main and sidebars layout
 */

.inner-wrap-main {
    background-color: #d3d3d3;
}

.region-main {
    #desinax-vgrid.column(@columns * 3 / 4 - 2);
    #desinax-vgrid.push(3);

    &.has-sidebar {
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1.05);
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns - 12);
    }
}

.region-sidebar-left,
.region-sidebar-right {
    background-color: #808080;
    border: 1px solid #333;
    box-shadow: 0 0 1px rgba(255,255,255,4);
    #desinax-vgrid.column(@columns * 1 / 4);
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    border: 1px solid #808080;
    #desinax-vgrid.column(@columns * 1 / 4 - .05);
    #desinax-vgrid.push(0);
}

.article {
    text-align: justify;
}

.previous {
    #desinax-vgrid.column(@columns * 1 / 4);
}


.next {
    float: right;
}

.next-previous a {
    color: #000;
    text-align: right;
    text-decoration: none;
}

.next-previous a:hover {
    color: #803550;
    text-decoration: underline;
}

.byline-text {
    #desinax-vgrid.column(@columns);
}

.byline {
    font-style: italic;
    #desinax-vgrid.column(@columns);
}

.byline img {
    border: 1px solid #808080;
}


/**
 * Responsive 1, 2, 3.
 */
@media screen and (max-width: 1000px) {
    .region-main {
        #desinax-vgrid.column(@columns);
        // #desinax-vgrid.push(0);

        &.has-sidebar-left.has-sidebar-right {
            #desinax-vgrid.column(@columns);
        }
    }

    .region-sidebar-left {
        #desinax-vgrid.column(@columns);
    }

    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left {
        #desinax-vgrid.column(@columns);
    }
}

@media screen and (max-width: 850px) {
    .region-main.has-sidebar-right {
            #desinax-vgrid.column(@columns);
    }

    .region-sidebar-right {
        #desinax-vgrid.column(@columns);
        #desinax-vgrid.push(0);
    }
}

/**
 * Footer layout
 */
.footer-column {
    #desinax-vgrid.column(@columns / 3)
}

.site-footer {
    #desinax-vgrid.column(@columns)
}

.outer-wrap-footer,
.inner-wrap-footer {
    background-color: #803550;
}
